<app-common-header (openModal)="openStudentModal()"></app-common-header>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Interested For</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Gender</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.interstedFor }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.phoneNumber }}</td>
      <td>{{ student.gender }}</td>
      <td>
        <button
          class="btn btn-info btn-sm mr-1"
          type="button"
          (click)="editStudent(student)"
        >
          Edit
        </button>

        <button
          class="btn btn-danger btn-sm"
          type="button"
          (click)="deleteStudent(student)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
